@model CourseShop.Application.HighlightedCategory.Commands.CreateHighlightedCategory.CreateHighlightedCategoryCommand
@using Newtonsoft.Json


@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}


<style>
    .ui-autocomplete {
    background-color: white; 
    max-height: 100px; 
    overflow-y: auto; 
    border: 1px solid #aaa;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    width:100%;
}
.ui-helper-hidden-accessible { display: none; }


.ui-autocomplete .ui-menu-item-wrapper {
    padding: 2px 10px;
    font-size: 14px; 
}
</style>
<h1 class="text-center mt-3">Tworzenie wyróżnionej kategorii</h1>

<div class="form-container bg-secondary mb-5">
    <form asp-action="Create" asp-controller="HighlightedCategory" method="post">
        
        <div class="form-group">
            <label>Podkategoria</label>
            <input type="text" id="categoryName" asp-for="CategoryName" class="form-control" placeholder="Wybierz kategorie">
            <span asp-validation-for="IdCategory" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="IdCategory" id="idCategory" />
        
        <div class="d-flex justify-content-between">
            <input type="submit" value="Stwórz" class="a-edit" style="height:40px;">
            <a class="a-edit d-flex align-items-center justify-content-center" asp-action="IndexAdmin" asp-Controller="HighlightedCategory">Lista wyróżnionych kategorii</a>
        </div>

    </form>
</div>




<script>
    $(function() {
        var categories = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Categories));
        

        function isValidChoice(input, list) {
            if (input.val().trim() === '') {
                return true; 
            }
            return list.some(item => item.Name === input.val());
        }

       

        $("#categoryName").autocomplete({
            source: categories.map(c => { return { label: c.Name, value: c.IdCategory }; }),
            open: function() {
                $(this).autocomplete("widget").css({
                    "width": ($(this).outerWidth() + "px")
                });
            },
            select: function(event, ui) {
                $('#idCategory').val(ui.item.value);
                $(this).val(ui.item.label);
                return false; 
            }
        });

       

         $("#categoryName").change(function() {
            var list;
            switch(this.id) {
                case "categoryName":
                    list = subCategories;
                    if (!isValidChoice($(this), list)) {
                        $(this).val('');
                        $('#idCategory').val('');
                    }
                    break;
            }
        });
        

    });
</script>



