@model CourseShop.Application.PromotedItem.Queries.GetPromotedItemById.GetPromotedItemByIdQuery

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
    var label = "";
    var name = "";
    if (Model.MainCategoryName != null)
    {
        label = "Główna kategoria";
        name = Model.MainCategoryName;
    }
    if (Model.CategoryName != null)
    {
        label = "Podkategoria";
        name = Model.CategoryName;
    }
    if (Model.CourseName != null)
    {
        label = "Kurs";
        name = Model.CourseName;
    }
}

<h1 class="text-center mt-3">Szczegóły promowanej sekcji</h1>



<div class="form-container mb-5 bg-secondary">

    <div class="form-group">
        <label>@label</label>
        <input disabled value="@name" class="form-control dis-inp-bac"/>
    </div>

    <div class="form-group">
        <label>Zdjęcie</label>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" width="100%" height="auto"/>
    </div>
    
    <div class="d-flex justify-content-between">
        <a class="a-edit d-flex align-items-center justify-content-center" asp-action="IndexAdmin" asp-Controller="PromotedItem">Lista promowanych sekcji</a>
        <form asp-action="Delete" method="post" asp-controller="PromotedItem">
            @Html.HiddenFor(model => model.IdPromotedItem)
            <input type="submit" value="Usuń" class="a-delete" style="height:40px;"/>
        </form>
    </div>

</div>

